<%- include('header'); -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <%  for (var i = 0; i < newLists.length; i++) { %>
        <form action="/delete" method="post">
          <div class="item">
            <!-- submit a form when a checkbox is checked -->
            <input type="checkbox" onChange="this.form.submit()" name="deleteList" value="<%= newLists[i] %>">
              <p><%= newLists[i] %></p>
          </div>
        </form>

      <%  }  %>
        <!-- this post the infromation to my rooe server -->
        <form class="item" action="/" method="post">
          <input type="text" name="newList" placeholder="New item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>

    </div>

<%- include('footer'); -%>
